// BOOTSTRAP OVERRIDES ONLY

// $grid-gutter-width: 2.4rem;
// $grid-row-columns: 12;
// $enable-cssgrid: true;
// $font-size-root: 10px;
$border-color: #e4e4e4;
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "2x1": calc(1 / 2 * 100%),
  "21x9": calc(9 / 21 * 100%)
);
$font-sizes: (
  1: 1rem,
  2: 2rem,
  3: 3rem,
  4: 4rem,
  5: 5rem,
  6: 6rem
);
$spacer: 1rem;
$spacers: (
  0: 0,
  0h: $spacer * 0.5,
  1: $spacer * 1,
  1h: $spacer * 1.5,
  2: $spacer * 2,
  2h: $spacer * 2.5,
  3: $spacer * 3,
  3h: $spacer * 3.5,
  4: $spacer * 4,
  4h: $spacer * 4.5,
  5: $spacer * 5,
  5h: $spacer * 5.5,
  6: $spacer * 6,
  6h: $spacer * 6.5,
  7: $spacer * 7,
  7h: $spacer * 7.5,
  8: $spacer * 8,
  8h: $spacer * 8.5,
  9: $spacer * 9,
  9h: $spacer * 9.5,
  10: $spacer * 10,
  10h: $spacer * 10.5,
);