$root-font-size-without-unit: 10; // 16 = 16px = 1.6rem

$navbar-height: 110px;

// bs breakpoints: sm:576px,md:768px,lg:992px,xl:1200px,xxl:1400px
$desktop-nav-min-brkpt: map-get($grid-breakpoints, xl);
$mobile-nav-max-brkpt: ($desktop-nav-min-brkpt - 1);

$pub-home-menu-id: 100530; // for default nav styling when selectedItem
$priv-home-menu-id: 100030; // for default nav styling when selectedItem

// content banner dimensions
$pub-content-banner-max-height: 550px;
$priv-content-banner-max-height: $pub-content-banner-max-height;

$white: #fff;
$black: #000;

// color palette -- color css variables are defined in reset.scss :root
$color-primary: #293337;
$color-secondary: #2e393d;
$color-tertiary: #555555;
$color-quaternary: #f4f4f4;
$color-quinary: $black;
$color-senary: $black;
$color-septenary: $black;
$color-octonary: $black;
$color-nonary: $black;
$color-denary: $black;

$color-darkest: $color-primary; // darkest color in palette
$color-lightest: $color-quaternary; // lightest color in palette

// font styles -- font family css variables are defined in reset.scss :root
$base-font-sans-serif: "Figtree", sans-serif;
$base-font-sans-serif2: $base-font-sans-serif;
$base-font-serif: "Fraunces", serif;
$base-font-serif2: $base-font-serif;

// heading sizes
$h1-size: 4.8rem;
$h2-size: 3.6rem;
$h3-size: 3.2rem;
$h4-size: 2.4rem;
$h5-size: 2.1rem;
$h6-size: 1.4rem;

// base font styles
$base-font-size: 1.6rem;
$base-font-color: var(--color-tertiary);
$base-font-family: var(--font-sans-serif);
$base-font-weight: 400;
$base-font-letter-spacing: 0;
$base-line-height: 1.88;

// link stlying
$link-color: var(--color-primary);
$link-hover-color: $link-color;
$link-hover-decoration: underline;
$link-bottom-border: 1px solid;

// primary button
$button-bg: var(--color-secondary);
$button-bg-hover: color-mix(in srgb, black 10%, $button-bg);
$button-font-color: $white;
$button-font-hover-color: $white;
$button-font: var(--font-sans-serif);
$button-weight: 700;
$button-font-size: 1.4rem;
$button-letter-spacing: 0.2rem;
$button-text-transform: uppercase;
$button-padding: 26px 30px;
$button-border: 2px solid $button-bg;
$button-border-hover-color: $button-bg-hover;
$button-border-radius: 0;

// secondary button
$second-button-bg: $white;
$second-button-bg-hover: var(--color-primary);
$second-button-font-color: var(--color-secondary);
$second-button-font-hover-color: $white;
$second-button-font: $button-font;
$second-button-weight: $button-weight;
$second-button-font-size: $button-font-size;
$second-button-letter-spacing: $button-letter-spacing;
$second-button-text-transform: uppercase;
$second-button-padding: $button-padding;
$second-button-border: 2px solid $second-button-bg-hover;
$second-button-border-hover-color: $second-button-bg-hover;
$second-button-border-radius: 0;

// tertiary button
$third-button-bg: $white;
$third-button-bg-hover: var(--color-secondary);
$third-button-font-color: var(--color-secondary);
$third-button-font-hover-color: $white;
$third-button-font: $button-font;
$third-button-weight: $button-weight;
$third-button-font-size: $button-font-size;
$third-button-letter-spacing: $button-letter-spacing;
$third-button-text-transform: uppercase;
$third-button-padding: $button-padding;
$third-button-border: 2px solid $third-button-bg-hover;
$third-button-border-hover-color: $third-button-bg-hover;
$third-button-border-radius: 0;

// accordion
$accordion-bar-closed-bg: $white;
$accordion-bar-open-bg: var(--color-primary);
$accordion-bar-closed-border: 2px solid $accordion-bar-open-bg;
$accordion-bar-open-border: 2px solid $accordion-bar-open-bg;
$accordion-bar-closed-font-color: var(--color-primary);
$accordion-bar-open-font-color: $white;
$accordion-bar-font-size: 2.4rem;
$accordion-bar-line-height: 1.25;
$accordion-bar-font-weight: 300;
$accordion-bar-letter-spacing: 0;
$accordion-bar-text-transform: none;
$accordion-bar-font-family: var(--font-serif);
$accordion-bar-font-style: normal;
$accordion-bar-padding: 1.7rem 3.5rem;
$accordion-icon-closed: "\eb00"; // arrow down="\eb00", plus="\ed7c"
$accordion-icon-open: "\eb03"; // arrow up="\eb03", minus="\ed7d"
$accordion-icon-size: 1.4rem;
$accordion-icon-closed-color: $accordion-bar-closed-font-color;
$accordion-icon-open-color: $accordion-bar-open-font-color;
$accordion-content-bg-color: var(--color-lightest);
$accordion-content-border: 1px solid var(--color-lightest);

// tab strip
$tabstrip-unselected-bg: var(--color-primary);
$tabstrip-selected-bg: var(--color-lightest);
$tabstrip-unselected-font-color: $white;
$tabstrip-selected-font-color: var(--color-primary);
$tabstrip-unselected-top-border: 3px solid $tabstrip-unselected-bg;
$tabstrip-selected-top-border-color: var(--color-primary);
$tabstrip-tabs-font-family: var(--font-sans-serif);
$tabstrip-tabs-font-size: 1.6rem;
$tabstrip-tabs-font-weight: 400;
$tabstrip-tabs-font-selected-weight: $tabstrip-tabs-font-weight;
$tabstrip-tabs-letter-spacing: 0;
$tabstrip-tabs-text-transform: none;
$tabstrip-tabs-padding: 2.4rem 2.7rem 2.7rem;
$tabstrip-content-bg-color: var(--color-lightest);
$tabstrip-content-border: 1px solid var(--color-lightest);

// top nav
$mobile-header-bg-color: $white;
$nav-top-li-left-right-padding: 2rem !default;

// subnav -- see mixin for subnav font styling
$subnav-min-width: 260px;
$subnav-top-bott-padding: 2.3rem;
$subnav-left-right-padding: 0;
$subnav-padding: $subnav-top-bott-padding $subnav-left-right-padding calc(#{$subnav-top-bott-padding} - 0px);
$nav-sub-default-font-color: $white;
$nav-sub-hover-font-color: $white;
$nav-sub-selected-font-color: $nav-sub-hover-font-color;
$nav-sub-font-top-bott-padding: 0.8rem;
$nav-sub-font-left-right-padding: 3rem;
$nav-sub-font-padding: $nav-sub-font-top-bott-padding $nav-sub-font-left-right-padding;
$subnav-top-position: 100%;
$subnav-left-position: calc((#{$nav-sub-font-left-right-padding} - #{$nav-top-li-left-right-padding}) * -1);
$subnav-translateX: 0;
$nav-sub-line-height: 1.3;
$nav-sub-font-size: 1.6rem;
$nav-sub-font-weight: 300;
$nav-sub-selected-font-weight: 300;
$nav-sub-font-text-align: left;
$nav-sub-font-hover-decoration: underline;
$nav-sub-font-selected-decoration: underline;
$nav-sub-font-letter-spacing: 0;
$nav-sub-font-text-transform: none;
$nav-sub-font-family: var(--font-sans-serif);
$nav-sub-font-hover-bgcolor: transparent;
$nav-sub-font-selected-bgcolor: $nav-sub-font-hover-bgcolor;
$nav-sub-default-bg-color: rgba($color-primary,0.95);
$nav-sub-mobile-3rd-lev-font-color: $base-font-color;
