$rfs-base-value: 1.6rem !default; // font-size minimum
// BOOTSTRAP
@import "bootstrap/scss/functions";
@import "helpers/bs-var-overrides"; // Bootstrap variable overrides
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
// Include any default map overrides here
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/root";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";
@import "bootstrap/scss/placeholders";
@import "bootstrap/scss/helpers";
// Utilities API to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap/scss/utilities/api"; 
// END BOOTSTRAP

// HELPERS
@import "helpers/variables";
@import "helpers/mixins";

// BASE
@import "base/reset";
@import "base/typography";

// LAYOUT
// - Essential Headers (4 versions) -- comment out all except the selected version
@import "layout/header-1";
@import "layout/header-2";
@import "layout/header-3";
@import "layout/header-4";

// - Premier Headers GK 2025 Component Styles
//@import "layout/header-1-prem"; // Logo Left Nav Right White Background
//@import "layout/header-2-prem"; // White Background Split
//@import "layout/header-3-prem"; // Transparent Background Split

//@import "layout/header-mobile-prem"; // do not comment out

@import "layout/header-utility-bar"; // BS5
@import "layout/header-mobile"; // do not comment out
@import "layout/main-content";

// - Essential Footers (1 version)
@import "layout/footer-1"; // BS5

// - Premier Footers GK Components 2025
//@import "layout/footer-1-prem";  // Logo and Links on Left
//@import "layout/footer-2-prem"; // Centered Logo
//@import "layout/footer-3-prem";  // Links Centered Social on Right

// COMPONENTS
@import "components/buttons";
@import "components/tabstrip";
@import "components/accordion";

// - Albums (5 versions) -- comment out all except the selected version
@import "components/album-1"; // BS5
@import "components/album-2"; // BS5
@import "components/album-3"; // BS5

@import "components/album-defaults"; // do not comment out
@import "components/static-banner";

// - Articles (1 version)
@import "components/articles-1"; // BS5

// - GK Components Articles 
//@import "components/nonessential/articles-1-prem"; // Stacked with image to left and subject date to right
//@import "components/nonessential/articles-2-prem"; // same as 1 but with white background and side-by-side
//@import "components/nonessential/articles-3-prem"; // Single Slider All-White
//@import "components/nonessential/articles-4-prem"; // Same as 3 but Colored Header and Dots
//@import "components/nonessential/articles-5-prem"; // Cross Marketing Callout Style
//@import "components/nonessential/articles-6-prem"; // Overlapped Panel Callout Style

// - Calendar (4 versions) -- comment out all except the selected version
@import "components/calendar-1"; // BS5
@import "components/calendar-2"; // BS5
@import "components/calendar-3"; // BS5

//- GK Components Calendar Versions

//@import "components/nonessential/calendar-1-prem"; // Slick Slider 3-across
//@import "components/nonessential/calendar-2-prem"; // left-aligned picture
//@import "components/nonessential/calendar-3-prem"; // Photo Album Slider
//@import "components/nonessential/calendar-4-prem"; // 2-column with event links to left, one image to right
//@import "components/nonessential/calendar-5-prem"; // Isotope/Bootstrap Tabs Calendar
//@import "components/nonessential/calendar-6-prem";  // Week at a glance style

// - Cards (4 versions) -- comment out all except the selected version
@import "components/cards-1"; // BS5
@import "components/cards-2"; // BS5
@import "components/cards-3"; // BS5

// - GK Components Cards Callout-Panel Versions
//@import "components/nonessential/cards-1-prem"; // Three-Across
//@import "components/nonessential/cards-2-prem"; // Tight Collage
//@import "components/nonessential/cards-3-prem"; // Cut-off Slider
//@import "components/nonessential/cards-4-prem"; // Standard Side-by-Side Panels
//@import "components/nonessential/cards-5-prem"; // Overlapped Text Panel
//@import "components/nonessential/cards-6-prem"; // Overlapped Panel

// - Meet the Team (from GK components)
//@import "components/nonessential/meet-the-team-1";
//@import "components/nonessential/meet-the-team-2";
//@import "components/nonessential/meet-the-team-3";


// - Optin Groups 
//@import "components/nonessential/opt-in-1";
//@import "components/nonessential/opt-in-2";


// - History Timelines 
//@import "components/nonessential/timeline-1";
//@import "components/nonessential/timeline-4";


// - Cross-marketing Panel
//@import "components/cross";

// - Form
@import "components/forms";

// - Quick Links (2 versions) -- comment out all except the selected version
@import "components/quick-links-1";
@import "components/quick-links-2";

// - Priv Home Welcome Banner (1 version) -- does not include quick links
@import "components/welcome-banner";

// - Course Tours (1 version)
//@import "components/course-tour-3";


// - GK Components Course Tours 

//@import "components/nonessential/course-tour-1-prem"; // Standard Premiere
//@import "components/nonessential/course-tour-2-vertical"; // Vertical Tabs
//@import "components/nonessential/course-tour-3-slider"; // Slider with dots and cut-off images
//@import "components/nonessential/course-tour-4"; // Grid Card Callouts Info Underneath
//@import "components/nonessential/course-tour-5"; // Banner Image Slider Par Info Overlay

// - GK Components Countdown Timers

//@import "components/nonessential/countdowns-prem";

// PAGES

// - Login (3 versions) -- comment out all except the selected version
@import "pages/login-1";
@import "pages/login-2";
@import "pages/login-3";

@import "pages/styleguide";

@import "base/misc";
//@import "base/svg-scss";

// - Premier and Platinum Components (4 versions) -- comment out all except the selected version
//@import "components/nonessential/collage-1";
//@import "components/nonessential/collage-2";
//@import "components/nonessential/collage-3";
//@import "components/nonessential/collage-4";
//@import "components/nonessential/course-tour-1";
//@import "components/nonessential/course-tour-2";
