// VARIABLES


// DEFAULT ALBUM STYLES
.scroll-album {
    // padding: 0 15px;
    // max-width: 1200px;
    margin: 3rem auto;
    > table .plgHeaderBar {
        padding-right: 15px;
    }
    [id*="photoPluginWrapper"] {
        width: 100% !important;
        //height: 400px !important;
        @media (min-width: 768px) {
            //height:580px !important;
        }
        > div {
            //height: 100%;
        }
    }
    .album-image {
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        // @include bg-img-cover;
        > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        a[class*="nextImg"], a[class*="prevImg"] {
            position: absolute;
            text-align: center;
            color: $white;
            font-size: 0;
            // background-color: rgba($black,0.5);
            // border-radius: 50%;
            // padding: 1.5rem;
            margin: 0 clamp(1.2rem,3.125vw,5rem);
            text-decoration: none;
            transition: background 0.3s ease-in-out;
            @media (max-width:767px) {
                // margin: 0 1rem;
            }
            > em {
                display: block;
                background-color: transparent;
                transition: all .3s ease-out;
                @include font-size(3.6rem);
                letter-spacing: 0;
            }
            &:hover {
                color: $white;
                // background-color: rgba($black,1);
            }
        }
        a[class*="nextImg"] {
            right: 0;
        }
        a[class*="prevImg"] {
            left: 0;
        }
    }
}

.thumbs-album {
    .plgHeaderBar b, .pluginTitleBar {
        @extend %h3;
        display: block;
        text-align: center;
        margin-bottom: 1.9rem;
        border: none;
        background: none;
        @media (max-width:767px) {
            margin-bottom: 1.5rem;
        }
    }
    [id*="photoPluginWrapper"] {
        width: 100% !important;
    }
    .carousel {
        --thumbs-album-gap: 1.2rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: var(--thumbs-album-gap);
        text-align: center !important;
        @media (min-width:768px) {
            --thumbs-album-gap: 2.4rem;
        }
        @media (min-width:992px) {
            text-align: left !important;
        }
        > div {
            --thumbs-album-images-per-row: 2;
            display: block !important;
            height: 100% !important;
            text-align: center;
            aspect-ratio: 9/5;
            flex-basis: calc((100% / var(--thumbs-album-images-per-row)) - (((var(--thumbs-album-images-per-row) - 1) / var(--thumbs-album-images-per-row)) * var(--thumbs-album-gap)));
            @media (min-width:768px) {
                --thumbs-album-images-per-row: 3;
            }
            @media (min-width:992px) {
                --thumbs-album-images-per-row: 4;
            }
        }
        img.carouselImage {
            height: 100%;
            width: 100%;
            object-fit: cover;
            max-width: 100%;
            vertical-align: middle;
        }
    }
    .thumbs-arrows-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: $base-font-weight;
        color: $base-font-color;
        font-size: $base-font-size;
        line-height: 1;
        padding-top: 24px;
        &.totalpages1 {
            display: none;
        }
        > a {
            font-size: 0;
            line-height: 1;
            padding: 0 15px;
            > em {
                font-size: 3rem;
                color: #b0b0b0;
            }
        }
        > span {
            margin: 0 5px;
        }
    }
}

.lightBoxDiv {
    box-sizing: initial;
}

.lightBoxDiv.mobileSploder {
    top: 0 !important;
    padding-top: 30vh;
    position: absolute;
}

.photoAlbumPropTable {
    &:has(.plgHeaderBar>b:empty) {
        tr:not(:has(a)) {
            //display: none;
        }
    }
}
