// VARIABLES
$pub-home-banner-width-value: 1600; // omit unit from value
$pub-home-banner-height-value: 850; // omit unit from value

// BANNER v3
.banner.opt3 {
    max-height: #{$pub-home-banner-height-value}px;
    background-color: var(--color-darkest);
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-size: 0;
    .empty-banner-album & {
        @media (min-width:$desktop-nav-min-brkpt) {
            padding-top: $navbar-height;
        }
    }
    > table {
        position: absolute;
        right: 1.5rem;
        top: 1.5rem;
        z-index: 98;
        width: auto;
        display: flex;
        justify-content: flex-end;
        @media (min-width:$desktop-nav-min-brkpt) {
            top: 15rem;
        }
        a {
            background: $white;
            box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            display: flex;
            padding: 5px;
            justify-content: center;
            align-items: center;
            font-size: 0;
            font-family: Arial, sans-serif;
            width: auto;
            &:before {
                // content: "Banner";
            }
        }
        .sitewrap.empty-banner-album & {
            position: relative;
            top: auto;
            right: auto;
        }
    }
    [id^=photoPlugin] {
        width: 100%!important;
        height: auto!important;
        padding-bottom: calc((#{$pub-home-banner-height-value}/#{$pub-home-banner-width-value})*100%);
        min-height: 125px;
    }
    .banner-overlay {
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
        position: absolute;
        inset: auto 0 0 0;
        height: auto;
        min-height: 7rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        z-index: 62;
        padding: clamp(0.7rem,1.4375vw,2.3rem) 1.2rem;
        color: $white;
        @include media-breakpoint-down(sm) {
            // background: none;
        }
        * {
            color: $white;
        }
    }
    .scroll-down {
        text-align: center;
        display: inline-block;
        color: $white;
        cursor: pointer;
        opacity: 1;
        span[class*="icon"] {
            @include font-size(2.4rem);
            display: block;
        }
    }
    .banner-arrows {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        transform: translateY(-50%);
        padding: 0 clamp(1.2rem,3.125vw,5rem);
        display: flex;
        justify-content: space-between;
        [class*="icon"] {
            @include font-size(3.6rem);
            color: $white;
        }
    }
    .banner-image {
        position: relative;
        font-size: 0;
        img {
            max-height: 100vh;
            object-fit: cover;
            height: 100%;
            width: 100%;
            #adminDashboard:not([style*="none"]) ~ div[id^="masterPageUC_MSTR"] & {
                max-height: calc(100vh - 46px);
            }
        }
    }
}
