// VARIABLES
$cal-events-stack-min-breakpoint: map-get($grid-breakpoints, lg);
$cal-events-stack-max-breakpoint: ($cal-events-stack-min-breakpoint - 1);
$cal-event-img-width-value: 450; // omit unit from value
$cal-event-img-height-value: 450; // omit unit from value

$cal-event-date-font-family: var(--font-serif);
$cal-event-date-font-size: 2.4rem;
$cal-event-date-line-height: 1.25;
$cal-event-date-font-weight: 300;
$cal-event-date-letter-spacing: 0;

$cal-event-title-font-family: var(--font-serif);
$cal-event-title-font-size: 3.2rem;
$cal-event-title-font-weight: 300;
$cal-event-title-letter-spacing: 0;
$cal-event-title-default-color: var(--color-secondary);
$cal-event-title-hover-color: var(--color-secondary);
$cal-event-title-line-height: 1.25;

$cal-event-cta-icon-font-size: 2.6rem;
$cal-event-cta-icon-default-color: #e4e4e4;
$cal-event-cta-icon-hover-color: var(--color-primary);

// CALENDAR PLUGIN v3
.calendar.opt3 {
    font-family: var(--font-sans-serif);
    margin: clamp(5rem,5.3125vw,8.5rem) auto clamp(5rem,4.8125vw,7.7rem);
    text-align: center;
    .priv-hm-title {
        display: block;
        margin-bottom: 8px;
    }
    .view-all-link {
        @include view-all-link;
        margin-top: 0;
    }
    div[id$="EventsWrapper"] {
        clear: both;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px 25px;
        @media (max-width:$cal-events-stack-max-breakpoint) {
            margin-inline: auto;
            max-width: #{$cal-event-img-width-value}px;
        }        
        .event-image {
            position: relative;
            aspect-ratio: #{$cal-event-img-width-value} / #{$cal-event-img-height-value};
            // display: flex;
            // justify-content: flex-end;
            // flex-direction: column;
            @media (max-width:1199px) {
                // flex-shrink: 1;
            }
            @media (max-width:$cal-events-stack-max-breakpoint) {
                //flex: 1 1 calc(100% - 10rem);
            }
            &:after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba($black,0);
                transition: background 0.3s ease-in-out; 
            }
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                + img {
                    display: none;
                }
            }
            .event-date {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                color: $white;
                min-height: 100px;
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-direction: column;
                z-index: 1;
                margin-bottom: 0;
                padding: 2.8rem 1.2rem;
                @media (max-width:$cal-events-stack-max-breakpoint) {
                    padding-bottom: 1em;
                }
            }
        }
        .event-date {            
            font-family: $cal-event-date-font-family;
            @include font-size($cal-event-date-font-size);
            font-weight: $cal-event-date-font-weight;
            letter-spacing: $cal-event-date-letter-spacing;
            line-height: $cal-event-date-line-height;
            margin-bottom: 1em;
                                    
        }
        .event-info {
            display: flex;
            flex-direction: column;
            justify-content: center;          
            font-size: 0;            
            padding: 1.8rem clamp(1.5rem,3.125vw,5rem);
            @media (max-width:$cal-events-stack-max-breakpoint) {
                padding: 1.5rem;
                flex: 1 1 auto;
            }
            .event-title {
                font-family: $cal-event-title-font-family;                
                font-weight: $cal-event-title-font-weight;
                letter-spacing: $cal-event-title-letter-spacing;
                color: $cal-event-title-default-color;
                line-height: $cal-event-title-line-height;
                transition: color 0.3s ease-in-out;
                @include font-size($cal-event-title-font-size);
            }
            .event-cta {
                margin-top: 1.5rem;
                span {
                    @include font-size($cal-event-cta-icon-font-size);
                    color: $cal-event-cta-icon-default-color;
                    transition: color 0.3s ease-in-out;
                }
            }
        }
        > a.event-link {
            flex: 1;
            max-width: #{$cal-event-img-width-value}px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            text-decoration: none;
            @media (max-width:$cal-events-stack-max-breakpoint) {
                flex: 1 1 auto;
                display: block;
            }
            &:hover,&:focus {
                text-decoration: none;
                .event-info .event-title {
                    color: $cal-event-title-hover-color;
                }
                .event-info .event-cta span {
                    color: $cal-event-cta-icon-hover-color;
                }
                
                .event-image:after {
                    background: rgba($black,0.4);
                }
            }
            @media (max-width:$cal-events-stack-max-breakpoint) {
                flex-wrap: wrap;
            }
        }
    }
}
