// VARIABLES
$quick-links-section-height: 400px;
$quick-link-font-default-color: $white;
$quick-link-font-hover-color: $white;
$quick-link-font-text-transform: none;
$quick-link-font-letter-spacing: 0;
$quick-link-font-weight: 300;
$quick-link-font-size: 2.4rem;
$quick-link-font-family: var(--font-serif);
$quick-link-icon-font-size: 3.6rem;
$quick-links-stack-min-breakpoint: map-get($grid-breakpoints, md);
$quick-links-stack-max-breakpoint: ($quick-links-stack-min-breakpoint - 1);

// QUICK LINKS v1
.quick-links.opt1 {
    min-height: px-to-vw($quick-links-section-height);
    background-size: cover;
    background-position: center center;
    background-color: var(--color-darkest);
    text-align: center;
    color: $white;
    font-size: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 3rem 1.5rem;
    @include rfs($h1-size, padding-block);
    > .mpContent {
        font-size: 0;
        position: absolute;
        inset: 0;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        &:after {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: '';
            background: rgba($black, 0.5);
        }
        + .clickToEditDiv {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 98;
        }
    }    
    h1 {
        line-height: 1.25;
        margin-bottom: 0.8em;
        color: $white;
        position: relative;
        @media (max-width:$quick-links-stack-max-breakpoint) {
            // font-size: 2.8rem;
        }
    }
    span[class*="icon"] {
        position: relative;
        color: $white;
        font-size: $quick-link-icon-font-size;
        width: 100%;
        display: inline-block;
        margin: 0 auto 1.4rem;
        text-decoration: none !important;
        @media (max-width:$quick-links-stack-max-breakpoint) {
            font-size: 2rem;
            margin: 0;
            flex: 0 1 1.6em;
            display: inline-block;
            color: $white;            
            &:before {
                padding: 0 0.6em 0 0;
                text-decoration: none;
                display: inline-block;
            }
        }                        
    }
    ul {
        list-style: none;
        margin: 0 auto;    
        padding: 0;
        width: 100%;
        // max-width: 1250px;
        float: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 2.4rem;
        @media (max-width:$quick-links-stack-max-breakpoint) {
            display: inline-block;
            width: auto;
        }
        li {
            display: inline-block;
            padding: 0 5px;
            margin: 0;
            font-size: 0;
            flex: 0 1 250px;
            vertical-align: top;
            transition: all .3s ease-in-out;
            @media screen and (max-width:$quick-links-stack-max-breakpoint) {
                display: block;
                padding: 0 0 15px 0;
            }
            a {
                display: inline-block;
                width: 100%;
                font-size: $quick-link-font-size;
                font-family: $quick-link-font-family;
                font-weight: $quick-link-font-weight;
                text-transform: $quick-link-font-text-transform;
                text-align: center;
                color: $quick-link-font-default-color;
                line-height: 1.2;
                letter-spacing: $quick-link-font-letter-spacing;
                text-decoration: none;
                position: relative;
                transition: opacity 0.3s ease-in-out;
                @media (max-width:$quick-links-stack-max-breakpoint) {
                    padding: 0;
                    text-align: left;
                    display: flex;
                    align-items: center;
                    text-decoration: none !important;
                }
                &:hover,&:focus {
                    opacity: 0.75;
                    color: $quick-link-font-hover-color;
                }
                body.user-is-tabbing & {
                    &:focus {
                        text-decoration: none;
                        outline-style: dashed;
                        outline-color: $white;
                        outline-width: 2px;
                        opacity: 1;
                    }
                }                
            }            
        }                
    }
}